* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}

body { 
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
 }

 h1 {
   font-size: 48px;
   font-weight: bold;
   /* color: #222220; */
 }

 h2 {
   font-size: 32px;
   font-weight: bold;
 }

 h3 {
   font-size: 20px;
   font-weight: bold;
 }

 h4 {
   font-size: 18px;
   font-weight: normal;
 }

 h5 {
  font-size: 18px;
  font-weight: bold;
 }

 p {
  margin: 0px;
 }

 @media (max-width:1200px) {

  h1 {
    font-size: 38px;;
  }

  h2 {
    font-size: 26px;
  }

  h4 {
    font-size: 18px;
    line-height: 1.5!important;
  }
 }



 @media  (max-width: 620px) {

  h1 {
    font-size: 32px;
  }
  h4 {
    font-size: 18px;
  }

  h4 {
    line-height: 1.5!important;
  }

 }


 
/* NAVBAR //////////////////////////////////////////////////////////////////*/

.header {
  top:0;
  background-color: #fff;
  box-shadow: 0 4px 15px 0 rgba(131, 131, 131, 0.2);
  position: fixed;
  width: 100%;
  z-index: 300;
  height: 100px;


}

.header-container {
  max-width: 1110px; 
  margin-right: auto;
  margin-left: auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  /* padding: 20px 20px; */
  /* border-right: 1px solid #f4f4f4; */
  text-decoration: none;
  color: rgba(16, 16, 16, 0.6);

  outline: none!important;

  line-height: 1!important;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #000;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  /* padding: 15px 48px 15px 165px; */
  padding: 15px 48px 0px 0;
  text-decoration: none;
}

/* menu */

  /* REMOVE BLUE ZONE ON CLICK MOBILE*/
a{
  -webkit-tap-highlight-color: transparent;
  } 

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding-top: 48px;
  padding-right: 38px;;
  position: relative;
  user-select: none;
  /* REMOVE BLUE ZONE ON CLICK MOBILE*/
  -webkit-tap-highlight-color: transparent;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 380px; 
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header-active span {
  border-bottom: 2px solid #e6362d; 
  width: 20px; 
  margin-top: 17px;
  display: block!important
}

.header-active #menu-line-short {
  border-bottom: 2px solid #e6362d; 
  width: 20px; 
  margin-top: 6px!important;
  display: block!important
}

.header-active a {
  font-weight: bold;
  color: #101010!important;
  opacity: 1!important;
}

@media all and (max-width: 1200px) {

  .header .menu {
    font-size: 18px!important;
  }
  .header-active #menu-line-short {
    border-bottom: 2px solid #e6362d; 
    width: 20px; 
    margin-top: 10px!important;
    display: block!important
  }
  .header .logo {
    padding: 15px 48px 0px 40px!important;
    
  }
}

@media (min-width: 980px) {

  .header li {
    float: left;
    padding-right: 16px;
  }
  .header li a {
    /* padding: 20px 30px; */
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
    padding-top: 30px!important;
    font-size: 18px;
    color: rgba(16, 16, 16, 0.6)!important;
  }
  .header .menu li:nth-child(2) {
    padding-top: 10px;
  }
  .header .menu li:nth-child(3) {
    padding-top: 10px;
  }
  .header .menu li:nth-child(4) {
    padding-top: 10px;
  }
  .header .menu li:nth-child(5) {
    padding-top: 10px;
  }
  .header .menu-icon {
    display: none;
  }

  .menu .logo {
    padding: 15px 48px 0px 60px;
  } 
}

@media screen and (max-width: 979px) {

  .menu li {
    width: fit-content;
    padding: 15px 0px 15px 60px ;
  }
  .menu li:last-child {
    padding-bottom: 30px!important;
  }
  .header-active span {
      margin-top: 4px;
  }
  .header-active #menu-line-short {
    margin-top: 4px!important;
  }
  .header .menu-btn:checked ~ .menu {
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222; 
  }
  .header .menu-icon {
    padding-right: 40px!important;
  }
}

@media screen and (max-width: 620px) {
  .header .logo {
    padding: 15px 48px 0px 20px!important;
  }
  .menu li {
    padding: 15px 0px 15px 40px!important ;
  }
  .header .menu-icon {
    padding-right: 30px!important;
  }
}

/* CAROUSEL //////////////////////////////////////////////////////////*/  

  #flickity-viewport {
    padding-top: 100px; 
    min-height: 550px;
  }

  #carousel {
    background: #EEE;
    padding-top: 100px!important; 
    min-height: 550px!important;
  }
  
  .carousel-cell {
    position: relative;
    width: 100%;
    height: 550px;
    margin-right: 10px;
    border-radius: 0px;
    display: flex; 
    justify-content: center;

    margin: 0px;
    /* width: auto!important; */
  }

  .carousel-cell img {
     object-fit: cover; 
     width: inherit;
    }

  .carousel-cell > a {
    position:absolute; 
    z-index: 100; 
    width: 100%; 
    height: 100%;
  }

    .carousel-cell-text {
      position:absolute; 
      z-index: 100;
      text-align: center; 
      margin-top: 170px; 
      margin-bottom: 24px;
      font-weight: bold; 
      font-size: 48px; 
      color: rgb(255, 255, 255);
;
      line-height: 1.5!important;

      max-width: 1110px; 
      margin-right: auto; 
      margin-left: auto;
    }

    .carousel-cell-text h1 {
      margin: 0px;
      line-height: 1.2!important;
    } 

    .carousel-cell-text h4 {
      margin-top: 24px;
      line-height: 1.5!important;
    }

    .carousel-cell-text2 {
      position:absolute; 
      z-index: 100;
      text-align: center;
      margin-top: 248px;
      color: white;

      width: 73vw;
    }

    .overlay {
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0.5;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
    }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    font-size: 80px;
    color: white;
  }
  
  /* position dots up a bit */
  ol.flickity-page-dots {
    bottom: 96px;
  }
  /* dots are lines */
  ol.flickity-page-dots .dot {
    height: 5px;
    width: 40px;
    margin: 10;
    border-radius: 25px;
    background-color: white!important;
  }

  .flickity-button {
    display: none;
  }

  #carousel-button img {
    position:absolute; 
    margin:-30px; 
    position: absolute; 
    margin-left: 48.3%;
  }

  @media screen and (max-width: 1490px) {
    
    /* .carousel-cell-text {
      margin-right: 40px!important; 
      margin-left: 40px!important;
    } */

    .carousel-cell {
      display: flex; 
      justify-content: center;
      width: auto!important;
    }
     .carousel-cell img {
      width: auto!important;
       }
  }

  @media screen and (max-width: 1200px) {
    
    .carousel-cell-text {
      width: 74vw;
    }
    .carousel-cell-text p {
      font-size: 38px!important;
    }
  }

  @media (max-width: 620px) {
    .carousel-cell-text {
      margin-top: 80px!important;
    } 
  
    ol.flickity-page-dots {
      bottom: 58px!important;
    }
  
    .flickity-viewport {
      height: 76vh!important;
    }
  
    .carousel-cell {
      height: 76vh!important;
    }
    #carousel {
      min-height: 76vh!important;
    }
  }

  @media screen and (max-width: 450px) {
    #carousel-button img {
      margin-left: 41%;
    }

    .carousel-cell-text h4 {
      font-size: 16px!important;
    }
  }

  @media (max-width: 325px) {
    .carousel-cell-text {
      margin-top: 40px!important;
    } 
  }

  /* Orange button&arrow */

  @media screen and (min-width: 450px) and (max-width: 700px) {
    #carousel-button img {
      margin-left: 45%;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 900px) {
    #carousel-button img {
      margin-left: 45%;
    }
  }
  @media screen and (min-width: 900px) and (max-width: 1100px) {
    #carousel-button img {
      margin-left: 46%;
    }
  }
  @media screen and (min-width: 1100px) and (max-width: 1200px) {
    #carousel-button img {
      margin-left: 47%;
    }
  }

/* HOME MAIN ////////////////////////////////////////////////////////////*/

#home-container-queries {
  max-width: 1110px; 
  margin-right: auto;
  margin-left: auto; 
  margin-top: 104px;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {

  #home-container-queries {
    margin-left: 40px!important;
    margin-right: 40px!important;
  }
}

@media (max-width: 620px) {

  #home-container-queries {
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
}
  
/* BLOC TEXT //////////////////////////////////////////////////*/

#bloc-text  h2 { 
  text-align: center; 
  color: #222220"
}

#bloc-text h4{
  text-align: center; 
  color: #222220;
  opacity: 0.75;
  line-height: 1.5!important;
  margin-top: 16px;
}

@media screen and (max-width: 1200px) {
#bloc-text {
  margin-left: 60px;
  margin-right: 60px;
}
}

@media only screen and (max-width: 620px) {
  #bloc-text {
    margin-left: 20px;
    margin-right: 20px;
  }
}


/* BLOC PICS //////////////////////////////////////////////////////////////////*/

#blocs-bat {

  margin: 56px 150px 122px 150px;
}

#blocs-bat-flex {
  display: flex; 
  position:relative; 
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-top: 26px;
}

.blocs-bat-flex-pics {
  position: relative; 
  width: 350px; 
  margin: 0!important;  
  margin-top: 30px!important
}

.blocs-bat-flex-pics {
  cursor: pointer;
}

.blocs-bat-flex-pics > a > img:first-child {
  position: absolute; 
  z-index:2; 
  width: auto; 
  bottom: 0;
}

.blocs-bat-flex-pics > a > img:nth-child(2) {
  display: none; 
  position: absolute; 
  z-index:2; 
  width: auto; 
  bottom: 0;
}

.blocs-bat-pics-title {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  z-index: 10;
  text-align: center; 
  font-weight: bold; 
  font-size: 10px; 
  color: rgb(255, 255, 255); font-size: 22px;
}

.blocs-flex-image > img {
  display:block; 
  width: 100%; 
  position: relative;
}


.bloc-image { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.bloc-image div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.bloc-image div img { 
  width: 100%; 
  height: auto; 
}

.blocs-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

a:hover .red {
  height: 100%;
  width: 100%;
  opacity: 1;
  position: absolute;
  z-index: 1;
  background: #e6362d!important;
}

a:hover .violet {
  height: 100%;
  width: 100%;
  opacity: 1;
  position: absolute;
  z-index: 1;
  background: #602483
}

a:hover .bloc-group-color {
  display: none;
}

a:hover .bloc-group-white {
  display: block!important;
}

@media only screen and (max-width: 1200px) {

  #blocs-bat {
    margin-right: 60px!important;
    margin-left: 60px!important;
  }
  .blocs-bat-flex-pics {
    position: relative; 
    margin: 15px; 
    width: 
  }
}

@media only screen and (max-width: 1260px) {

  .blocs-bat-flex-pics {
   
    width: 32%!important;
  }  
}

@media only screen and (max-width: 817px) {

  .blocs-bat-flex-pics {
   
    width: 48%!important;
  }  
}

@media only screen and (max-width: 620px) {

  #blocs-bat-flex {
    justify-content: center!important;
  }

  .blocs-bat-flex-pics {
   
    width: 100%!important;
  }  

  #blocs-bat {
    margin-right: 20px!important;
    margin-left: 20px!important;
  }
}

@media screen and (max-width: 430px) {
  .bloc-image div { margin: 0; }
  .bloc-image { padding: 0; }
  
}


/* FOOTER ///////////////////////////////////////////////////////////*/

    body{
        margin:0;
        }
    
    #home-footer-container-queries {
      max-width: 1110px; 
      margin-right: auto;
      margin-left: auto; 
      padding: 0 0 40px 0px!important;  
      /* margin-top: 122px; */

    }

    footer{
      margin-top: 122px;
    padding:30px 0px;
    background-color: #f8f8fa;
    }
    
    .footer .column{
    width:20%;
    margin:0% 1%;
    display:inline-block;
    }
    
    .footer .column ul{
    width:100%;
    }
    
    .footer .column ul li{
    list-style:none;
    padding:5px 0px;
    color:gray;
    }
    
    .footer .column ul li a{
    text-decoration:none;
    font-size:1em;
    color:gray;
    /* transition:0.5s; */
    }
    
    .footer .column ul li a:hover{
    color:#f7bd00;
    }
    
    .footer .column ul .title{
    font-size:1.2em;
    color:rgb(10, 10, 10);
    }
    
    .footer .column ul li input{
    padding:10px 5px;
    outline:none;
    border:0;
    width:70%;
    height:40px;
    color:#1e1e1e;
    }
    
    .footer .column ul li .btn1{
    background:;
    outline:none;
    border:0;
    padding:5px;
    color:#fff;
    height:44px;
    position:relative;
    top:1px;
    font-size:0.5em;
    background:#f7bd00;
    }
    
    .footer .column ul li i{
    font-size:2em;
    margin:0px 10px;
    }
    
    #sub-footer{
    background:#1e1e1e;
    padding:5px 0px;
    text-align:center;
    color:gray;
    font-size:12px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px; 
    background-color:#602483; 
    font-size: 16px; 
    color:white;
    }
    
    @media (max-width:720px){
    .footer .column{
    width:90%;
    display:block;
    margin:0% 0%;
    }
    
    .footer .column:nth-child(2),.footer .column:nth-child(3){
    width:90%;
    display:inline-block;
    }
    }
    
    @media (max-width:1200px){

    #home-footer-container-queries {
      margin-left: 40px!important;
      margin-right: 40px!important;
    }
    .footer .column ul li input{
    padding:5px 5px;
    outline:none;
    border:0;
    width:70%;
    height:34px;
    color:#1e1e1e;
    }
    .footer .column ul li .btn1{
    position:relative;
    top:2px;
    }
    }
    
    @media (max-width:940px){
    .footer .column ul li input{
    padding:5px 5px;
    outline:none;
    border:0;
    width:60%;
    height:34px;
    color:#1e1e1e;
    }
    .footer .column ul li .btn1{
    position:relative;
    top:2px;
    }
    }

    @media (max-width: 620px) {

      #home-footer-container-queries {

        margin-left: 20px!important;
        margin-right: 20px!important;
      }
    }



/* FOOTER FLEX //////////////*/


  #footer-container {
      flex: 1;
      display: flex;
      padding: 0 0 40px 0px;
    }
  

  #footer-container .section h3 {
    font-size: 20px; 
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 30px;
    /* line-height: 1; */
  }
  
  #footer-container .section ul{
    border-left: 1px solid rgba(34, 34, 32, 0.5);
    padding-left: 15px;
    height: 80%;
    }

  #footer-container .section ul li{
    list-style:none;
    padding:5px 0px;
    color:gray;
    }
    
    #footer-container .section ul li a{
    text-decoration:none;
    font-size:18px;
    color: #222220;
    opacity: 0.75;
    /* transition:0.5s; */
    margin-right: 10px;
    }

    #footer-container .section ul li p{
      text-decoration:none;
      font-size:18px;
      color: #222220;
      opacity: 0.75;
    } 
    
    #footer-container .section ul li a:hover{
    color:#000000;
    font-weight:500;
    opacity: 1;

    }
    
    #footer-container .section ul .title{
    font-size:1.2em;
    color:rgb(5, 56, 97);
    }
  
    #footer-container .section {
        width:100%;
        }

    #footer-capeb-flex {
      display: flex
    }

    #footer-capeb-flex > p {
      margin-right: 14px;
      font-weight: normal;
    }

  @media (max-width: 1200px) { /*breakpoint*/
    #footer-container {
      /* padding-left: 60px!important;
      padding-right: 60px!important; */
    }
    #footer-container .section ul li a{
      font-size:18px!important;
    }
    #footer-container .section ul li p{
      font-size:18px!important;
    }

  }

  @media (max-width: 950px) { /*breakpoint*/
    #footer-container {
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 620px) {
    #footer-container {
      padding-left: 20px!important;
      padding-right: 20px!important;
    }

  }


  /* PAGE ACTUS ///////////////////////////////////////////////////////////////////////////////*/

    /* PAGINATION ////////////////////*/
    /* .pagination {
      display: flex;
      justify-content: center;
      margin-top: 56px;
    }
    
    .pagination a {
      color: black;
      float: left;
      padding: 1px 9px 3px 8px;
      text-decoration: none;
    }
    
    .pagination a.active {
      background-color: #222220;
      color: white;
      border-radius: 50px;
    }
    
    .pagination a:hover:not(.active) {
      background-color: #ddd;
      border-radius: 25px;
    } */


  /* BREDCRUMB */

  .breadcrumb {
    font-size: 18px;
  }

  .breadcrumb-item > a {
    color: #222200!important;
    text-decoration: none;
  } 

  .breadcrumb-item:last-child {
    font-weight: bold!important;
    color:#222200!important
  }


  /* PAGINATION */

  #actu-pagination nav ul li a {
    color: black;  }

  .page-item.active .page-link {
  background-color:#222220!important;
  border-color: transparent!important;


  outline: none !important;
  box-shadow: none;
  }


  .page-item.active a.page-link {
    color: white!important;
  border-color: transparent!important;

  }




  /* CALENDAR //////////////*/

  #calendar {
    /* max-width: 540px;
    max-height: 521px; */

  }



  .fc-theme-standard td, .fc-theme-standard th {
  
    border: 1px solid #fff!important;
  }

  .fc .fc-daygrid-day-frame {
    position: relative;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fc-theme-standard .fc-scrollgrid {
    border: 1px solid #fff!important;

  }

  button.fc-today-button.fc-button-primary {
    display: none;
  }

  button.fc-next-button.fc-button.fc-button-primary,
  button.fc-prev-button.fc-button.fc-button-primary {

    background-color: white;
    border-radius: 50px!important;
    padding: 2px!important;

  }

  button.fc-prev-button.fc-button.fc-button-primary {
    margin-right: 25px;
  }

  span.fc-icon.fc-icon-chevron-left ,
  span.fc-icon.fc-icon-chevron-right {
    color: black;
  }

  .fc .fc-button-group>.fc-button {
    position: relative;
    flex: none!important;
  }

  /* CHANGING BOOTSTRAP NATIVS COLORS*/
  div.fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion {
    color: black!important;
    text-decoration: none!important;
  }
  div.fc-daygrid-day-top > a.fc-daygrid-day-number {
    color: black!important;
    text-decoration: none!important;

  }

  /* CHANGING BACKGROUND COLOR TODAY DATE*/
  .fc .fc-daygrid-day.fc-day-today {
    background-color: #92d4b0!important;
  }

  .fc .fc-daygrid-day.fc-day-today {
    
  }

  .fc .fc-daygrid-day.fc-day-today .fc.day-grid-day-top > a.fc-daygrid-day-number  {

    border: 1px solid black!important;
    border-radius: 50px;
  }
 

/* PAGE MON PARCOURS PATRIMOINE ////////////////////////////////////////////////////////////////*/


/* PAGE QUIZZ */

#parcours-main {
  max-width:1110px; 
  margin-top: 140px; 
  margin-right: auto; 
  margin-left: auto;
}

#parcours-main h2 {
  margin-top: 40px; 
  margin-bottom: 56px;
}

#parcours-main-quizz {
  box-shadow: 0 4px 15px 0 rgba(131, 131, 131, 0.2); 
  padding: 40px;
}

#parcours-bloc-violet {
  padding: 40px 10px 40px 16px; 
  background-color: rgba(96, 36, 131, 0.04); 
  border-left: 4px solid #602483;
}

#parcours-bloc-violet h5 {
  color:#602483; 
  opacity: 0.75; 
  line-height: 1.6;
}

#parcours-bloc-violet > h5 > a {
  color:#602483; 
  text-decoration: underline;
}

#parcours-main-quizz  h3 {
  margin-top: 56px; 
  margin-bottom: 24px;
}

.form-check-label {
  color: black;
  opacity: 0.4;
}

.form-check {
  width: 200px;
  height: 58px; 
  margin: 0 0 8px; 
  padding: 17px 15px; 
  border-radius: 8px;
  border: 1px solid #d8d8d8;
}

.form-check input:checked {
  border: 2px solid #e22312;
  background-color: white;
}

.form-check-input:checked[type=radio] {
  background-image: url('./assets/parcours/ellipse1.svg') !important;
}

.form-check input:checked ~ .form-check-label {
  color:rgb(0, 0, 0);
  opacity: 1!important;
}

.form-check > input:checked .form-check {

border: 1px solid #e22312!important;
opacity: 1!important;

}



.form-check .form-check-input {
  margin-left: 0px!important;

  width: 17px!important;
  height: 16px!important;
}

.form-check .form-check-label {
  margin-left: 18px;
}


.btn-primary:focus, .btn:focus, .btn:active , .btn-primary:active, a:focus
{
      outline: none!important;
      border: none!important;
}


@media (max-width: 1200px) {
#parcours-main,
#parcours-results-main {
    margin-left: 40px!important;
    margin-right: 40px!important;
  }
}

@media (max-width: 620px) {
  #parcours-main,
  #parcours-results-main {
      margin-left: 20px!important;
      margin-right: 20px!important;
  }

  .button-patrimoine {
    margin-left: auto!important;
    margin-right: auto!important;
  }

  #button-contact-form {
    margin-top: 20px!important
  }

  .form-check {
    margin: 5px auto 5px auto!important;
  }

  #parcours-bloc-form, 
  #parcours-bloc-aller, 
  #parcours-bloc-results {
    padding: 10px!important;
  }

}

@media (max-width: 375px) {
  
  #parcours-bloc-aller{
    padding: 0px!important
  }

  #parcours-results-bloc, #parcours-bloc-form {
    padding: 0px!important;
    box-shadow: none!important;
  }
}

/* PAGE RESULTS */

#parcours-results-main {

  max-width:1110px; 
  margin-top: 140px; 
  margin-right: auto; 
  margin-left: auto;
}

#parcours-results-main > h1 {
  margin-top: 40px; 
  margin-bottom: 56px;
}

.blocs-bat-flex-parcours {
  display: flex; 
  position:relative; 
  flex-wrap: wrap;
  /* justify-content: space-between;  */
  /* margin-top: 26px; */
  column-gap: 30px;
  margin-top: 0px; 
  margin-bottom: 30px;
}

/* BUTTONS */
.btn:active, .btn:focus, .btn:hover , .btn::selection{
  
  /* background-color: inherit!important; */
  outline: none !important;
  box-shadow: none!important;


}



/* CHILDS CHANGING COLORS */
.blocs-bat-flex-parcours > div:nth-child(odd) {
  /* border: 2px solid orange */
}

.blocs-bat-flex-parcours > div:nth-child(odd) > a > div:nth-child(2):hover {
 

}



/* IMAGES */

#parcours-results {
  margin-top: 48px;
}

#parcours-results-bloc {
  display: flex; 
  box-shadow: 0 4px 15px 0 rgba(131, 131, 131, 0.2); 
  padding: 40px;
}

#parcours-results-bloc-image {
  position: relative; 
  width:310px ;
  height: 321px;
}

#parcours-results-bloc-image > img {
  z-index: 10; 
  position: absolute;
  width: 295px;
  height: 306px;
  top: 0;
  right: 0;
  background-color: white;
}

#parcours-results-bloc-image > div {
  position:absolute; 
  width: 295px; 
  height: 306px; 
  bottom: 0; 
  left: 0; 
  background-color: #e6362d;;
}

#parcours-results-bloc-text {
  padding: 0px 0px 0px 30px; 
  width: 100%; 
  display: flex; 
  flex-direction: column;
}

#parcours-results-bloc-text div:first-child {
  flex:1
}

#parcours-results-bloc-text > div > h1 {
  color:#e6362d;
}

#parcours-results-bloc-text > div > h3 > span {
  color: #e6362d
}

#parcours-results-bloc-text > div > h4 {
  opacity: 0.75; 
  line-height: 1.5; 
  margin-top: 24px; 
  margin-bottom: 24px;
}

#parcours-results-bloc-text > div > button {
  margin-top: 0px
}

#parcours-results-main > h2 {

  margin-top: 104px
}

/* a {
  text-decoration: none; 
  color: inherit!important; 
} */

#parcours-results-main > a > h4 {
  margin-top:32px;
  color: #222220!important;
  text-decoration: inherit!important;
  opacity: 0.75;
}

#parcours-results-main > h2 {
  margin-top: 104px; 
  margin-bottom: 48px;
}

#parcours-bloc-form {
  box-shadow: 0 4px 15px 0 rgba(131, 131, 131, 0.2); 
  padding: 40px;
}

#parcours-bloc-form-violet {
  margin-bottom: 40px; 
  padding: 40px 10px 40px 16px; 
  background-color: rgba(96, 36, 131, 0.04); 
  border-left: 4px solid #602483;
}

#parcours-bloc-form-violet > h5 {
  color:#602483; 
  opacity: 0.75; 
  line-height: 1.6;
}

#parcours-bloc-form-violet > h5 > a {
  color:#602483;
  text-decoration: underline;
}

#parcours-bloc-form-buttons {
  display: flex; 
  flex-direction: column; 
  margin-top: 40px;
}

#button-contact-form {
  display:inline; 
  margin:0px;
}

#parcours-bloc-aller {
  box-shadow: 0 4px 15px 0 rgba(131, 131, 131, 0.2); 
  padding: 40px;
}

#parcours-bloc-aller div {
  padding: 14px 0px 14px 16px; 
  background-color: rgba(96, 36, 131, 0.04); 
  border-left: 4px solid #602483;
}

#parcours-bloc-aller > div > h5 {
  color:#602483; 
  opacity: 0.75; 
  line-height: 1.6;
}

#parcours-bloc-aller > div > h5 > a {
  color:#602483;
  text-decoration: underline;
}

#parcours-bloc-aller > h3 {
  color:#e6362d; 
  margin-top: 48px; 
  margin-bottom: 24px
}

#parcours-bloc-aller > h4 {
  color: #222220; 
  opacity: 0.75; 
  line-height: 1.5;
}



/* .blocs-bat-flex-parcours div:nth-child(1), */
/* .blocs-bat-flex-parcours {

    margin-right: 30px!important
} */

.blocs-bat-pics-title > div > p {
  line-height: 1.2;
}

.button-patrimoine {
  width:197px; 
  height: 53px; 
  background-color: #e6362d; 
  font-size: 18px; 
  font-weight:bold;
  border-radius: 0px; 
  border: solid 1px #e6362d!important; 
  margin-top: 40px; 
  display: block; 
  margin-right: 0px; 
  margin-left: auto;
  margin-bottom: 0px;
  color: white;
}

.button-patrimoine::selection,
.button-patrimoine:focus,
.button-patrimoine:active {
  border: solid 1px #e6362d!important;
  background-color: #e6362d!important; 


}

.btn-primary:disabled, .btn-primary:hover {
  color: #fff;
  background-color: #e6362d;
  border-color: #e6362d;
}

#button-contact-capeb {
  width: 232px;
  height: 53px;
  margin: 40px 16px 0 81px;
  /* padding: 12px 16px; */
  border: solid 1px #e6362d;
  background-color: white;
  font-size: 18px; 
  font-weight:bold;
  border-radius: 0px; 
  color: #e6362d;

  display:inline; 
  margin:0px; 
  margin-right: 16px;
}

#button-contact-capeb:focus,
#button-contact-capeb::selection,
  #button-contact-capeb:active {
  border: solid 1px #e6362d!important;

}



a:hover .violet-opacity {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  background: #602483
}

a:hover .red-opacity {
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  background: #e6362d!important;
}

#parcours-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1260px) {

 .parcours {
   
    width: 31%!important;
  }  
}

@media only screen and (max-width: 940px) {

  .parcours {
    
     width: 30%!important;
   }  
 }

@media only screen and (max-width: 740px) {
.parcours {
    width: 100%!important;
  }
}

/* FORM*/

.form-control:focus {
  box-shadow: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="radio"]:focus,
.uneditable-input:focus {   
  
  outline: none!important;
  box-shadow: none!important;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #f8f8fa inset !important;
}

/* REMOVE ARROWS  */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.form-control {
  padding: 16px 14px 16px 14px;
  border: none;
  border: solid 1px #ffffff;
  background-color: #f8f8fa;
  border-radius: 0px!important;
}

.form-control:focus, 
.form-control::selection,
.form-control:active {
  background-color: #f8f8fa;
  border: solid 1px #bdbdbd;

  
}


/* ACCORDIONS */

#accordionFlushExample {
  margin-top: 74px;
}

.accordion-body {
  padding: 0px!important
}

.accordion-body > h3 {
  color: #e6362d; 
  margin-top: 30px;
}

.accordion-button {
  padding: 30px 0px 30px 0px;
  
}

.accordion-button:focus {
  border-bottom: 1px solid rgba(0,0,0,.125)!important;
  border-top: 1px solid rgba(0,0,0,.125)!important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: inherit;
  outline: 0;
  box-shadow: inherit;
  
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
}
.accordion-button:not(.collapsed)::after {
  color: inherit!important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}



@media (max-width: 768px) {
  #parcours-main {
      margin-left: 20px!important;
      margin-right: 20px!important;
  }

  #parcours-results-bloc {
    flex-direction: column;
  }

  #parcours-results-bloc-text {
    padding: 24px 0px 0px 0px!important;
  }

}
